
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Iframe.cshtml";
}







<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>

<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
<div id="container-fluid">
    <h1>Content Title</h1>
    <p>This is a sample content. This content will appear on the pages.</p>
    <p>Scroll to see more content. Add enough content to create multiple pages when printing.</p>
</div>
 
<button onclick="onPrint()" class="btn-sm btn-danger">Print</button>




<link href="~/css/salesreport.css" rel="stylesheet" />
<script src="~/js/salesreport.js"></script>