@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<ul class="nav nav-tabs custom-nav-tabs" id="tabs-container">
</ul>

 
<div class="tab-content" id="tab-content-container" >
    
</div>
 
@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
}


 