/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [DB_POS3]
GO
/****** Object:  Table [dbo].[tbl_BussinessType]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BussinessType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bussiness_Name] [nvarchar](120) NULL,
	[Remark] [nvarchar](100) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_BussinessType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](200) NULL,
	[company_code] [nvarchar](200) NULL,
	[bussiness_type] [nvarchar](100) NULL,
	[register_number] [varchar](50) NULL,
	[register_date] [datetime] NULL,
	[logo] [nvarchar](200) NULL,
	[path_logo] [nvarchar](200) NULL,
	[address] [nvarchar](100) NULL,
	[contact_name] [nvarchar](50) NULL,
	[contact_email] [varchar](50) NULL,
	[contact_phone] [varchar](50) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_tbl_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[create_date] [datetime] NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_tbl_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Icons]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Icons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](50) NULL,
	[label_icon] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_Icons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Menus]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Name] [nvarchar](100) NOT NULL,
	[Menu_Name_Kh] [nvarchar](120) NULL,
	[Icon] [varchar](50) NULL,
	[Level] [int] NULL,
	[Partial_Name] [nvarchar](120) NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [PK_Tbl_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Modules]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Modules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Module_Name] [nvarchar](150) NOT NULL,
	[Module_Name_Kh] [nvarchar](200) NULL,
	[Icon] [varchar](100) NULL,
	[Level] [int] NULL,
	[Menu_Id] [int] NOT NULL,
	[Partial_Name] [nvarchar](200) NULL,
	[Url] [nvarchar](100) NULL,
	[Is_Active] [bit] NULL,
	[Controller] [varchar](100) NULL,
	[Views] [varchar](100) NULL,
 CONSTRAINT [PK_Tbl_Module] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Permission_Module_On_Role]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Permission_Module_On_Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[module_id] [int] NULL,
	[company_code] [varchar](100) NULL,
	[full] [bit] NULL,
	[list] [bit] NULL,
	[add] [bit] NULL,
	[edit] [bit] NULL,
	[print] [bit] NULL,
	[role_id] [int] NULL,
	[is_active] [bit] NULL,
	[assign_date] [datetime] NULL,
	[view] [bit] NULL,
 CONSTRAINT [PK_tbl_Module_Role_Permission_Detail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Permission_Module_On_User]    Script Date: 2/21/2025 4:18:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Permission_Module_On_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[menu_id] [int] NULL,
	[module_id] [int] NULL,
	[company_code] [varchar](100) NULL,
	[full] [bit] NULL,
	[list] [bit] NULL,
	[add] [bit] NULL,
	[edit] [bit] NULL,
	[print] [bit] NULL,
	[user_id] [int] NULL,
	[is_active] [bit] NULL,
	[assign_date] [datetime] NULL,
	[view] [bit] NULL,
 CONSTRAINT [PK__ModulePe__3214EC27B6241D80] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Permissions]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Name] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [PK_tbl_Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Role_Module_Permissions]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role_Module_Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Module_Id] [int] NOT NULL,
	[User_Id] [int] NULL,
	[Company_Id] [int] NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Role_Module_Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Roles]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](100) NULL,
	[Description] [nvarchar](240) NULL,
 CONSTRAINT [PK_tbl_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_System]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_System](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[System_Name] [nvarchar](150) NULL,
	[Description] [nvarchar](200) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_System] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRoles]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Assigned_Date] [datetime] NULL,
	[Delete_Date] [datetime] NULL,
	[Assign_By] [int] NULL,
	[Remark] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_UserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[firstname] [nvarchar](100) NULL,
	[lastname] [nvarchar](100) NULL,
	[email] [varchar](200) NULL,
	[password] [varchar](max) NULL,
	[is_active] [bit] NULL,
	[sex] [varchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [varchar](10) NULL,
	[image] [nvarchar](200) NULL,
	[image_path] [nvarchar](200) NULL,
	[company_id] [int] NULL,
	[department_id] [int] NULL,
 CONSTRAINT [PK__tbl_User__3214EC2760787119] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_BussinessType] ON 

INSERT [dbo].[tbl_BussinessType] ([ID], [Bussiness_Name], [Remark], [Is_Active]) VALUES (1, N'Coffee Shop', N'A business that serves coffee and snacks.', 1)
INSERT [dbo].[tbl_BussinessType] ([ID], [Bussiness_Name], [Remark], [Is_Active]) VALUES (2, N'Construction', N'A business involved in construction and infrastructure.', 1)
INSERT [dbo].[tbl_BussinessType] ([ID], [Bussiness_Name], [Remark], [Is_Active]) VALUES (3, N'IT Services', N'A business that provides IT consulting and services.', 1)
SET IDENTITY_INSERT [dbo].[tbl_BussinessType] OFF
SET IDENTITY_INSERT [dbo].[tbl_Company] ON 

INSERT [dbo].[tbl_Company] ([ID], [company_name], [company_code], [bussiness_type], [register_number], [register_date], [logo], [path_logo], [address], [contact_name], [contact_email], [contact_phone], [is_active]) VALUES (1, N'Jing Hab Company', N'JH007', N'Coffee', N'1212111233', CAST(N'2025-01-27T00:00:00.000' AS DateTime), N'jing_hab_company.png', N'/lib/uploads/companylogo/jing_hab_company.png', N'Takeo Province.', N'Mrr. Jing Hab', N'JingHab123@gmail.com', N'123123123123', 1)
INSERT [dbo].[tbl_Company] ([ID], [company_name], [company_code], [bussiness_type], [register_number], [register_date], [logo], [path_logo], [address], [contact_name], [contact_email], [contact_phone], [is_active]) VALUES (2, N'Jing Hab 2', N'JS0017', N'Coffee', N'1212111233', CAST(N'2025-01-27T00:00:00.000' AS DateTime), N'jing_hab_2.png', N'/lib/uploads/companylogo/jing_hab_2.png', N'Takeo Province.', N'Mrr. Jing Hab', N'JingHab123@gmail.com', N'123123123123', 0)
INSERT [dbo].[tbl_Company] ([ID], [company_name], [company_code], [bussiness_type], [register_number], [register_date], [logo], [path_logo], [address], [contact_name], [contact_email], [contact_phone], [is_active]) VALUES (3, N'Jinghab3', N'#2121', N'Jinghab BS', N'112121233', CAST(N'2025-01-31T00:00:00.000' AS DateTime), N'jinghab3.png', N'/lib/uploads/companylogo/jinghab3.png', N'Poipet', N'Jing Hab Brother', N'ing@gamial.com', N'121212133311', 1)
SET IDENTITY_INSERT [dbo].[tbl_Company] OFF
SET IDENTITY_INSERT [dbo].[tbl_Department] ON 

INSERT [dbo].[tbl_Department] ([ID], [name], [create_date], [is_active]) VALUES (1, N'Finance', NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_Department] OFF
SET IDENTITY_INSERT [dbo].[tbl_Icons] ON 

INSERT [dbo].[tbl_Icons] ([ID], [class_name], [label_icon]) VALUES (1, N'bi-123', N'123 Icon')
INSERT [dbo].[tbl_Icons] ([ID], [class_name], [label_icon]) VALUES (2, N'bi-alarm-fill', N'Alarm Fill')
INSERT [dbo].[tbl_Icons] ([ID], [class_name], [label_icon]) VALUES (3, N'bi-alarm', N'Alarm')
GO
SET IDENTITY_INSERT [dbo].[tbl_Icons] OFF
SET IDENTITY_INSERT [dbo].[tbl_Menus] ON 

INSERT [dbo].[tbl_Menus] ([ID], [Menu_Name], [Menu_Name_Kh], [Icon], [Level], [Partial_Name], [Is_Active]) VALUES (1, N'Dashboard', N'Dashboards', N'bi bi-speedometer2', 1, N'#', 1)
INSERT [dbo].[tbl_Menus] ([ID], [Menu_Name], [Menu_Name_Kh], [Icon], [Level], [Partial_Name], [Is_Active]) VALUES (2, N'Sale', N'លក់', N'bi-cart', 2, N'##', 1)
INSERT [dbo].[tbl_Menus] ([ID], [Menu_Name], [Menu_Name_Kh], [Icon], [Level], [Partial_Name], [Is_Active]) VALUES (3, N'Integration', N'Integration', N'bi bi-plug', 3, N'##', 1)
SET IDENTITY_INSERT [dbo].[tbl_Menus] OFF
SET IDENTITY_INSERT [dbo].[tbl_Modules] ON 

INSERT [dbo].[tbl_Modules] ([ID], [Module_Name], [Module_Name_Kh], [Icon], [Level], [Menu_Id], [Partial_Name], [Url], [Is_Active], [Controller], [Views]) VALUES (2, N'Sale History', N'ប្រវត្តិលក់', N'bi bi-bar-chart-line', 2, 2, N'_SaleHistory', N'#', 1, NULL, NULL)
INSERT [dbo].[tbl_Modules] ([ID], [Module_Name], [Module_Name_Kh], [Icon], [Level], [Menu_Id], [Partial_Name], [Url], [Is_Active], [Controller], [Views]) VALUES (3, N'Accounting Software', N'Accounting Software', N'bi bi-file-earmark-ruled', 1, 3, N'_AccountingSoftware', N'#', 1, NULL, NULL)
INSERT [dbo].[tbl_Modules] ([ID], [Module_Name], [Module_Name_Kh], [Icon], [Level], [Menu_Id], [Partial_Name], [Url], [Is_Active], [Controller], [Views]) VALUES (4, N'Product List', N'Product List', N'bi bi-grid', 1, 4, N'_ProductList', N'#', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Modules] OFF
SET IDENTITY_INSERT [dbo].[tbl_Permission_Module_On_Role] ON 

INSERT [dbo].[tbl_Permission_Module_On_Role] ([ID], [module_id], [company_code], [full], [list], [add], [edit], [print], [role_id], [is_active], [assign_date], [view]) VALUES (1, 7, NULL, 1, 0, 1, 0, 0, 3, 0, NULL, NULL)
INSERT [dbo].[tbl_Permission_Module_On_Role] ([ID], [module_id], [company_code], [full], [list], [add], [edit], [print], [role_id], [is_active], [assign_date], [view]) VALUES (2, 8, NULL, 1, 1, 1, 1, 1, 3, 1, NULL, NULL)
INSERT [dbo].[tbl_Permission_Module_On_Role] ([ID], [module_id], [company_code], [full], [list], [add], [edit], [print], [role_id], [is_active], [assign_date], [view]) VALUES (3, 23, NULL, 1, 1, 1, 1, 1, 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Permission_Module_On_Role] OFF
SET IDENTITY_INSERT [dbo].[tbl_Permission_Module_On_User] ON 

INSERT [dbo].[tbl_Permission_Module_On_User] ([ID], [menu_id], [module_id], [company_code], [full], [list], [add], [edit], [print], [user_id], [is_active], [assign_date], [view]) VALUES (1, 7, 7, NULL, 0, 0, 0, 0, 0, 3, 0, CAST(N'2025-01-17T13:07:52.053' AS DateTime), NULL)
INSERT [dbo].[tbl_Permission_Module_On_User] ([ID], [menu_id], [module_id], [company_code], [full], [list], [add], [edit], [print], [user_id], [is_active], [assign_date], [view]) VALUES (2, 7, 8, NULL, 1, 1, 1, 1, 1, 2, 1, CAST(N'2025-01-17T13:08:29.130' AS DateTime), NULL)
INSERT [dbo].[tbl_Permission_Module_On_User] ([ID], [menu_id], [module_id], [company_code], [full], [list], [add], [edit], [print], [user_id], [is_active], [assign_date], [view]) VALUES (3, 7, 23, NULL, 1, 1, 1, 1, 1, 2, 1, CAST(N'2025-01-17T13:09:10.470' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tbl_Permission_Module_On_User] OFF
SET IDENTITY_INSERT [dbo].[tbl_Permissions] ON 

INSERT [dbo].[tbl_Permissions] ([ID], [Permission_Name], [Description], [Is_Active]) VALUES (1, N'View', N'Permission to view details.', NULL)
INSERT [dbo].[tbl_Permissions] ([ID], [Permission_Name], [Description], [Is_Active]) VALUES (2, N'Edit', N'Permission to edit details.', NULL)
INSERT [dbo].[tbl_Permissions] ([ID], [Permission_Name], [Description], [Is_Active]) VALUES (3, N'Delete', N'Permission to delete.', NULL)
SET IDENTITY_INSERT [dbo].[tbl_Permissions] OFF
SET IDENTITY_INSERT [dbo].[tbl_Role_Module_Permissions] ON 

INSERT [dbo].[tbl_Role_Module_Permissions] ([ID], [Role_Id], [Module_Id], [User_Id], [Company_Id], [Is_Active]) VALUES (1, 1, 7, 1, 5, 1)
INSERT [dbo].[tbl_Role_Module_Permissions] ([ID], [Role_Id], [Module_Id], [User_Id], [Company_Id], [Is_Active]) VALUES (2, 1, 8, 1, 5, 1)
INSERT [dbo].[tbl_Role_Module_Permissions] ([ID], [Role_Id], [Module_Id], [User_Id], [Company_Id], [Is_Active]) VALUES (3, 1, 23, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[tbl_Role_Module_Permissions] OFF
SET IDENTITY_INSERT [dbo].[tbl_Roles] ON 

INSERT [dbo].[tbl_Roles] ([ID], [Role_Name], [Description]) VALUES (1, N'Admin', N'Full access to all features and settings.')
INSERT [dbo].[tbl_Roles] ([ID], [Role_Name], [Description]) VALUES (2, N'Manager', N'Limited access to settings and data management.')
INSERT [dbo].[tbl_Roles] ([ID], [Role_Name], [Description]) VALUES (3, N'User', N'Basic access to the system with limited permissions.')
SET IDENTITY_INSERT [dbo].[tbl_Roles] OFF
SET IDENTITY_INSERT [dbo].[tbl_System] ON 

INSERT [dbo].[tbl_System] ([ID], [System_Name], [Description], [Is_Active]) VALUES (1, N'POS System', N'Point of Sale system for retail businesses.', 1)
INSERT [dbo].[tbl_System] ([ID], [System_Name], [Description], [Is_Active]) VALUES (2, N'Inventory Management', N'System for managing inventory and stock levels.', 1)
INSERT [dbo].[tbl_System] ([ID], [System_Name], [Description], [Is_Active]) VALUES (3, N'CRM System', N'Customer Relationship Management system.', 1)
SET IDENTITY_INSERT [dbo].[tbl_System] OFF
SET IDENTITY_INSERT [dbo].[tbl_UserRoles] ON 

INSERT [dbo].[tbl_UserRoles] ([ID], [User_Id], [Role_Id], [Assigned_Date], [Delete_Date], [Assign_By], [Remark]) VALUES (1, 1, 1, CAST(N'2025-01-16T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_UserRoles] ([ID], [User_Id], [Role_Id], [Assigned_Date], [Delete_Date], [Assign_By], [Remark]) VALUES (2, 2, 2, CAST(N'2025-01-16T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tbl_UserRoles] ([ID], [User_Id], [Role_Id], [Assigned_Date], [Delete_Date], [Assign_By], [Remark]) VALUES (3, 3, 3, CAST(N'2025-01-16T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_UserRoles] OFF
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([ID], [username], [firstname], [lastname], [email], [password], [is_active], [sex], [address], [phone], [image], [image_path], [company_id], [department_id]) VALUES (1, N'Savin.Em', N'Savin', N'Em', N'john.doe@email.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Users] ([ID], [username], [firstname], [lastname], [email], [password], [is_active], [sex], [address], [phone], [image], [image_path], [company_id], [department_id]) VALUES (2, N'Manager', N'Vannak', N'Chhoeng', N'jane.smith@email.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Users] ([ID], [username], [firstname], [lastname], [email], [password], [is_active], [sex], [address], [phone], [image], [image_path], [company_id], [department_id]) VALUES (3, N'User', N'Sommang', N'Soum', N'michael.brown@email.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
ALTER TABLE [dbo].[tbl_Menus] ADD  CONSTRAINT [DF_tbl_Menus_Is_Active]  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Modules] ADD  CONSTRAINT [DF_tbl_Modules_Is_Active]  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePerm__Full__1BC821DD]  DEFAULT ((0)) FOR [full]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePerm__List__1CBC4616]  DEFAULT ((0)) FOR [list]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePermi__Add__1DB06A4F]  DEFAULT ((0)) FOR [add]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePerm__Edit__1EA48E88]  DEFAULT ((0)) FOR [edit]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePer__Print__1F98B2C1]  DEFAULT ((0)) FOR [print]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePer__Is_Ac__208CD6FA]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tbl_Permission_Module_On_User] ADD  CONSTRAINT [DF__ModulePer__Assig__2180FB33]  DEFAULT (getdate()) FOR [assign_date]
GO
ALTER TABLE [dbo].[tbl_Role_Module_Permissions] ADD  CONSTRAINT [DF_tbl_Role_Module_Permissions_Is_Active]  DEFAULT ((0)) FOR [Is_Active]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MODULE_ON_ROLE_PERMISSION]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 CREATE PROCEDURE [dbo].[SP_GET_MODULE_ON_ROLE_PERMISSION]
		@MenuId INT = NULL ,
		@RoleId INT = NULL
 AS BEGIN
	IF(@RoleId = 0)
	BEGIN 
			SELECT DISTINCT
			md.Id as module_id,
			md.Module_Name as module_name, 
			'false'	as  [full]  ,
			'false' as [list]   ,
			'false' as [add]   ,
			'false' as [edit] ,
			'false' as [print]  ,
			'' as remark
			FROM  DBO.tbl_Modules md
			INNER JOIN	DBO.tbl_Menus m
			ON md.Menu_Id = m.ID   
			WHERE MD.Is_Active = 1    
			AND m.ID =  @MenuId    
	END;
		ELSE 
	BEGIN 
			SELECT  DISTINCT
				md.Id as module_id,
				mpd.ID ,
				md.Module_Name as module_name,
				mpd.[full]  ,
				mpd.[list]  ,
				mpd.[add]  ,
				mpd.[edit]  ,
				mpd.[print]  ,
				'' as remark
			FROM   [dbo].[tbl_Permission_Module_On_Role] mpd 
		    RIGHT JOIN    DBO.tbl_Modules md
			ON mpd.module_id = md.Id    
			INNER JOIN	DBO.tbl_Menus m
			ON md.Menu_Id = m.ID     
			WHERE MD.Is_Active = 1    
			AND m.ID =  @MenuId 
			AND  mpd.role_id =  @RoleId 
			AND mpd.is_active = 1
			--AND md.ID NOT IN (select prr.module_id from dbo.tbl_Permission_Module_On_Role prr where prr.role_id = @RoleId )

			UNION

			SELECT DISTINCT
				md.Id AS module_id,
				0 AS ID,   
				md.Module_Name AS module_name,
				'false' AS [full],
				'false' AS [list],
				'false' AS [add],
				'false' AS [edit],
				'false' AS [print],
				'' AS remark
			FROM dbo.tbl_Modules md
			LEFT JOIN dbo.tbl_Menus mm
			ON mm.ID = md.Menu_Id
			WHERE md.Is_Active = 1
			AND mm.Id = @MenuId 
			AND md.ID NOT IN (select prr.module_id from dbo.tbl_Permission_Module_On_Role prr where prr.role_id = @RoleId )
			;
	END;
	
 END;
   
 

 
 
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MODULE_ON_USER_ROLE_PERMISSION]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 CREATE PROCEDURE [dbo].[SP_GET_MODULE_ON_USER_ROLE_PERMISSION]
		@MenuId INT = NULL ,
		@RoleId INT = NULL,
		@UserId INT = NULL
 AS BEGIN

	IF(@RoleId = 0 AND @UserId = 0)
	BEGIN
		SELECT DISTINCT
		md.Id as module_id,
		md.Module_Name as module_name, 
		'false'	as  [full]  ,
		'false' as [list]   ,
		'false' as [add]   ,
		'false' as [edit] ,
		'false' as [print]  ,
		'' as remark
		FROM  DBO.tbl_Modules md
		INNER JOIN	DBO.tbl_Menus m
		ON md.Menu_Id = m.ID   
		WHERE MD.Is_Active = 1    
		AND m.ID =  @MenuId     
	END;
	ELSE
	BEGIN
		 SELECT  DISTINCT
				md.Id as module_id,
				mpd.ID ,
				md.Module_Name as module_name,
				mpd.[full]  ,
				mpd.[list]  ,
				mpd.[add]  ,
				mpd.[edit]  ,
				mpd.[print]  ,
				'' as remark
			FROM   [dbo].[tbl_Permission_Module_On_Role] mpd 
		    LEFT JOIN    DBO.tbl_Modules md
			ON mpd.module_id = md.Id    
			INNER JOIN	DBO.tbl_Menus m
			 ON md.Menu_Id = m.ID     
			WHERE MD.Is_Active = 1     
			AND mpd.module_id NOT IN (SELECT prmu.module_id FROM DBO.tbl_Permission_Module_On_User prmu WHERE prmu.User_Id = @UserId and is_active = 1)
			 AND m.ID =  @MenuId 
		    AND  mpd.role_id =  @RoleId  

			UNION
				SELECT  DISTINCT
					md.Id as module_id,
					mpu.ID ,
					md.Module_Name as module_name,
					mpu.[full]  ,
					mpu.[list]  ,
					mpu.[add]  ,
					mpu.[edit]  ,
					mpu.[print]  ,
					'' as remark
				FROM   [dbo].[tbl_Permission_Module_On_User] mpu 
				LEFT JOIN    DBO.tbl_Modules md
				ON mpu.module_id = md.Id    
				INNER JOIN	DBO.tbl_Menus m
				ON md.Menu_Id = m.ID      
				WHERE MD.Is_Active = 1   
				AND mpu.is_active = 1  
				AND mpu.user_id = @UserID
				AND m.ID = @MenuId 
				AND MPU.module_id   IN (SELECT PRM.module_id FROM DBO.tbl_Permission_Module_On_Role PRM WHERE PRM.role_id = @RoleId AND PRM.is_active = 1) 
			UNION 

			SELECT DISTINCT
				md.Id AS module_id,
				0 AS ID,   
				md.Module_Name AS module_name,
				'false' AS [full],
				'false' AS [list],
				'false' AS [add],
				'false' AS [edit],
				'false' AS [print],
				'' AS remark
			FROM dbo.tbl_Modules md
			LEFT JOIN dbo.tbl_Menus mm
			ON mm.ID = md.Menu_Id
			WHERE md.Is_Active = 1
		    AND mm.Id = @MenuId
			 AND md.ID NOT IN (select  module_id from dbo.tbl_Permission_Module_On_Role where role_id = @RoleId AND is_active = 1)
			 AND md.ID NOT IN (select module_id from dbo.tbl_Permission_Module_On_User   where user_id = @UserId AND is_active = 1);  
	END;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT2_DATA]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [dbo].[SP_SELECT2_DATA]
	@MapKey VARCHAR(100),
	@KeyId	INT = 0
AS BEGIN 

	IF @MapKey = 'ROLE'
	BEGIN  
		SELECT ID as ID , Role_Name as Text FROM dbo.tbl_Roles ;
		RETURN;
	END;
	
	ELSE IF @MapKey = 'MENU'
	BEGIN
		SELECT ID AS ID , Menu_Name AS Text FROM DBO.tbl_Menus WHERE Is_Active = 1 ORDER BY Menu_Name DESC;
		RETURN;
	END; 
	ELSE IF @MapKey = 'USER_NOT_IN_ROLE'
	BEGIN
		SELECT  u.ID as Id, CONCAT(u.lastname ,' ', u.firstname) as Text   FROM dbo.tbl_Users u  LEFT JOIN dbo.tbl_UserRoles ur  ON u.ID = ur.User_Id 
		WHERE u.ID not in (select User_Id from dbo.tbl_UserRoles where Role_Id = @KeyId) AND U.is_active = 1 ; 
		RETURN;
	END;
	ELSE IF @MapKey = 'DATA_USER_ROLE'
	BEGIN
		SELECT u.ID as Id , CONCAT(u.lastname ,' ', u.firstname) as Text  FROM DBO.tbl_Users U INNER JOIN DBO.tbl_UserRoles UR ON UR.User_Id = U.ID WHERE U.is_active = 1 AND UR.Role_Id = @KeyId 
		RETURN;
	END;

	ELSE BEGIN
		SELECT 0 as Id , 'No data' as Text ;
	END;
END;
 
 
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MENU]    Script Date: 2/21/2025 4:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_MENU] 
		@MenuName NVARCHAR(200) ,
		@MenuName_Kh NVARCHAR(200)   ,
		@Icon	VARCHAR(50) ,
		@PartialName VARCHAR(100)  , 
		@Level INT   , 
		@MenuId INT    
 AS BEGIN
		DECLARE @LastLevel  INT = (select top 1 level from dbo.tbl_Menus where id = @MenuId)  
		DECLARE @RowOnthisLevel INT =  (SELECT ID from dbo.tbl_Menus WHERE Level = @level);
 
		UPDATE dbo.tbl_Menus 
		SET
			Menu_Name = @MenuName,
			Menu_Name_Kh = @MenuName_Kh,
			Icon	= @Icon,
			Level =   case when @Level = 0 then Level else @Level end  ,
			Partial_Name = @PartialName 
		WHERE
			ID = @MenuId  
		
		IF (@LastLevel !=  @Level )
		BEGIN  
			UPDATE DBO.tbl_Menus SET Level = @LastLevel WHERE ID = @RowOnthisLevel;  
			 
		END;
 

	END;  
 
GO
