USE [DB_POS3]
GO
/****** Object:  Table [dbo].[tbl_BussinessType]    Script Date: 2/10/2025 12:21:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BussinessType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bussiness_Name] [nvarchar](120) NULL,
	[Remark] [nvarchar](100) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_BussinessType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Company]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](200) NULL,
	[company_code] [nvarchar](200) NULL,
	[bussiness_type] [nvarchar](100) NULL,
	[register_number] [varchar](50) NULL,
	[register_date] [datetime] NULL,
	[logo] [nvarchar](200) NULL,
	[path_logo] [nvarchar](200) NULL,
	[address] [nvarchar](100) NULL,
	[contact_name] [nvarchar](50) NULL,
	[contact_email] [varchar](50) NULL,
	[contact_phone] [varchar](50) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_tbl_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[create_date] [datetime] NULL,
	[is_active] [bit] NULL,
	[company_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Icons]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Icons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](50) NULL,
	[label_icon] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_Icons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Menus]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Name] [nvarchar](100) NOT NULL,
	[Menu_Name_Kh] [nvarchar](120) NULL,
	[Icon] [varchar](50) NULL,
	[Level] [int] NULL,
	[Partial_Name] [nvarchar](120) NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [PK_Tbl_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Module_Permission_Detail]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Module_Permission_Detail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[menu_id] [int] NULL,
	[module_id] [int] NULL,
	[company_code] [varchar](100) NULL,
	[full] [bit] NULL,
	[list] [bit] NULL,
	[add] [bit] NULL,
	[edit] [bit] NULL,
	[print] [bit] NULL,
	[user_id] [int] NULL,
	[is_active] [bit] NULL,
	[assign_date] [datetime] NULL,
	[view] [bit] NULL,
 CONSTRAINT [PK__ModulePe__3214EC27B6241D80] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Modules]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Modules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Module_Name] [nvarchar](150) NOT NULL,
	[Module_Name_Kh] [nvarchar](200) NULL,
	[Icon] [varchar](100) NULL,
	[Level] [int] NULL,
	[Menu_Id] [int] NOT NULL,
	[Partial_Name] [nvarchar](200) NULL,
	[Url] [nvarchar](100) NULL,
	[Is_Active] [bit] NULL,
	[Controller] [varchar](100) NULL,
	[Views] [varchar](100) NULL,
 CONSTRAINT [PK_Tbl_Module] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Permissions]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Name] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [PK_tbl_Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Role_Menu_Permissions]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role_Menu_Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Menu_Id] [int] NOT NULL,
	[Company_Id] [int] NULL,
	[User_Id] [int] NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [PK_tbl_Role_Menu_Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Role_Module_Permissions]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role_Module_Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Module_Id] [int] NOT NULL,
	[User_Id] [int] NULL,
	[Company_Id] [int] NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Role_Module_Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Roles]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [nvarchar](100) NULL,
	[Description] [nvarchar](240) NULL,
 CONSTRAINT [PK_tbl_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_System]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_System](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[System_Name] [nvarchar](150) NULL,
	[Description] [nvarchar](200) NULL,
	[Is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_System] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRoles]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Assigned_Date] [datetime] NULL,
 CONSTRAINT [PK_tbl_UserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 2/10/2025 12:21:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[firstname] [nvarchar](100) NULL,
	[lastname] [nvarchar](100) NULL,
	[email] [varchar](200) NULL,
	[password] [varchar](50) NULL,
	[is_active] [bit] NULL,
	[sex] [varchar](50) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [varchar](10) NULL,
	[image] [nvarchar](200) NULL,
	[image_path] [nvarchar](200) NULL,
	[company_id] [int] NULL,
	[project_id] [int] NULL,
	[department_id] [int] NULL,
 CONSTRAINT [PK__tbl_User__3214EC2760787119] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_BussinessType] ON 

INSERT [dbo].[tbl_BussinessType] ([ID], [Bussiness_Name], [Remark], [Is_Active]) VALUES (1, N'Coffee Shop', N'A business that serves coffee and snacks.', 1)
INSERT [dbo].[tbl_BussinessType] ([ID], [Bussiness_Name], [Remark], [Is_Active]) VALUES (2, N'Construction', N'A business involved in construction and infrastructure.', 1)
INSERT [dbo].[tbl_BussinessType] ([ID], [Bussiness_Name], [Remark], [Is_Active]) VALUES (3, N'IT Services', N'A business that provides IT consulting and services.', 1)
SET IDENTITY_INSERT [dbo].[tbl_BussinessType] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Company] ON 

INSERT [dbo].[tbl_Company] ([ID], [company_name], [company_code], [bussiness_type], [register_number], [register_date], [logo], [path_logo], [address], [contact_name], [contact_email], [contact_phone], [is_active]) VALUES (1, N'Jing Hab Company', N'JH007', N'Coffee', N'1212111233', CAST(N'2025-01-27T00:00:00.000' AS DateTime), N'jing_hab_company.png', N'/lib/uploads/companylogo/jing_hab_company.png', N'Takeo Province.', N'Mrr. Jing Hab', N'JingHab123@gmail.com', N'123123123123', 1)
INSERT [dbo].[tbl_Company] ([ID], [company_name], [company_code], [bussiness_type], [register_number], [register_date], [logo], [path_logo], [address], [contact_name], [contact_email], [contact_phone], [is_active]) VALUES (2, N'Jing Hab 2', N'JS0017', N'Coffee', N'1212111233', CAST(N'2025-01-27T00:00:00.000' AS DateTime), N'jing_hab_2.png', N'/lib/uploads/companylogo/jing_hab_2.png', N'Takeo Province.', N'Mrr. Jing Hab', N'JingHab123@gmail.com', N'123123123123', 0)
INSERT [dbo].[tbl_Company] ([ID], [company_name], [company_code], [bussiness_type], [register_number], [register_date], [logo], [path_logo], [address], [contact_name], [contact_email], [contact_phone], [is_active]) VALUES (3, N'Jinghab3', N'#2121', N'Jinghab BS', N'112121233', CAST(N'2025-01-31T00:00:00.000' AS DateTime), N'jinghab3.png', N'/lib/uploads/companylogo/jinghab3.png', N'Poipet', N'Jing Hab Brother', N'ing@gamial.com', N'121212133311', 1)
SET IDENTITY_INSERT [dbo].[tbl_Company] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Department] ON 

INSERT [dbo].[tbl_Department] ([ID], [name], [create_date], [is_active], [company_id]) VALUES (1, N'Finance', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_Department] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Icons] ON 

INSERT [dbo].[tbl_Icons] ([ID], [class_name], [label_icon]) VALUES (1, N'bi-123', N'123 Icon')
INSERT [dbo].[tbl_Icons] ([ID], [class_name], [label_icon]) VALUES (2, N'bi-alarm-fill', N'Alarm Fill')
INSERT [dbo].[tbl_Icons] ([ID], [class_name], [label_icon]) VALUES (3, N'bi-alarm', N'Alarm')
GO
SET IDENTITY_INSERT [dbo].[tbl_Icons] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Menus] ON 

INSERT [dbo].[tbl_Menus] ([ID], [Menu_Name], [Menu_Name_Kh], [Icon], [Level], [Partial_Name], [Is_Active]) VALUES (1, N'Dashboard', N'Dashboards', N'bi bi-speedometer2', 1, N'#', 1)
INSERT [dbo].[tbl_Menus] ([ID], [Menu_Name], [Menu_Name_Kh], [Icon], [Level], [Partial_Name], [Is_Active]) VALUES (2, N'Sale', N'លក់', N'bi-cart', 3, N'##', 1)
INSERT [dbo].[tbl_Menus] ([ID], [Menu_Name], [Menu_Name_Kh], [Icon], [Level], [Partial_Name], [Is_Active]) VALUES (3, N'Integration', N'Integration', N'bi bi-plug', 3, N'##', 1)
SET IDENTITY_INSERT [dbo].[tbl_Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Module_Permission_Detail] ON 

INSERT [dbo].[tbl_Module_Permission_Detail] ([ID], [menu_id], [module_id], [company_code], [full], [list], [add], [edit], [print], [user_id], [is_active], [assign_date], [view]) VALUES (1, 7, 7, NULL, 1, 1, 1, 1, 1, 1, 1, CAST(N'2025-01-17T13:07:52.053' AS DateTime), NULL)
INSERT [dbo].[tbl_Module_Permission_Detail] ([ID], [menu_id], [module_id], [company_code], [full], [list], [add], [edit], [print], [user_id], [is_active], [assign_date], [view]) VALUES (2, 7, 8, NULL, 1, 1, 1, 1, 1, 1, 1, CAST(N'2025-01-17T13:08:29.130' AS DateTime), NULL)
INSERT [dbo].[tbl_Module_Permission_Detail] ([ID], [menu_id], [module_id], [company_code], [full], [list], [add], [edit], [print], [user_id], [is_active], [assign_date], [view]) VALUES (3, 7, 23, NULL, 1, 1, 1, 1, 1, 1, 1, CAST(N'2025-01-17T13:09:10.470' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tbl_Module_Permission_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Modules] ON 

INSERT [dbo].[tbl_Modules] ([ID], [Module_Name], [Module_Name_Kh], [Icon], [Level], [Menu_Id], [Partial_Name], [Url], [Is_Active], [Controller], [Views]) VALUES (2, N'Sale History', N'ប្រវត្តិលក់', N'bi bi-bar-chart-line', 2, 2, N'_SaleHistory', N'#', 1, NULL, NULL)
INSERT [dbo].[tbl_Modules] ([ID], [Module_Name], [Module_Name_Kh], [Icon], [Level], [Menu_Id], [Partial_Name], [Url], [Is_Active], [Controller], [Views]) VALUES (3, N'Accounting Software', N'Accounting Software', N'bi bi-file-earmark-ruled', 1, 3, N'_AccountingSoftware', N'#', 1, NULL, NULL)
INSERT [dbo].[tbl_Modules] ([ID], [Module_Name], [Module_Name_Kh], [Icon], [Level], [Menu_Id], [Partial_Name], [Url], [Is_Active], [Controller], [Views]) VALUES (4, N'Product List', N'Product List', N'bi bi-grid', 1, 4, N'_ProductList', N'#', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Permissions] ON 

INSERT [dbo].[tbl_Permissions] ([ID], [Permission_Name], [Description], [Is_Active]) VALUES (1, N'View', N'Permission to view details.', NULL)
INSERT [dbo].[tbl_Permissions] ([ID], [Permission_Name], [Description], [Is_Active]) VALUES (2, N'Edit', N'Permission to edit details.', NULL)
INSERT [dbo].[tbl_Permissions] ([ID], [Permission_Name], [Description], [Is_Active]) VALUES (3, N'Delete', N'Permission to delete.', NULL)
SET IDENTITY_INSERT [dbo].[tbl_Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Role_Menu_Permissions] ON 

INSERT [dbo].[tbl_Role_Menu_Permissions] ([ID], [Role_Id], [Menu_Id], [Company_Id], [User_Id], [Is_Active]) VALUES (1, 1, 1, 5, 1, 1)
INSERT [dbo].[tbl_Role_Menu_Permissions] ([ID], [Role_Id], [Menu_Id], [Company_Id], [User_Id], [Is_Active]) VALUES (2, 1, 7, 5, 1, 1)
INSERT [dbo].[tbl_Role_Menu_Permissions] ([ID], [Role_Id], [Menu_Id], [Company_Id], [User_Id], [Is_Active]) VALUES (3, 1, 3, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tbl_Role_Menu_Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Role_Module_Permissions] ON 

INSERT [dbo].[tbl_Role_Module_Permissions] ([ID], [Role_Id], [Module_Id], [User_Id], [Company_Id], [Is_Active]) VALUES (1, 1, 7, 1, 5, 1)
INSERT [dbo].[tbl_Role_Module_Permissions] ([ID], [Role_Id], [Module_Id], [User_Id], [Company_Id], [Is_Active]) VALUES (2, 1, 8, 1, 5, 1)
INSERT [dbo].[tbl_Role_Module_Permissions] ([ID], [Role_Id], [Module_Id], [User_Id], [Company_Id], [Is_Active]) VALUES (3, 1, 23, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[tbl_Role_Module_Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Roles] ON 

INSERT [dbo].[tbl_Roles] ([ID], [Role_Name], [Description]) VALUES (1, N'Admin', N'Full access to all features and settings.')
INSERT [dbo].[tbl_Roles] ([ID], [Role_Name], [Description]) VALUES (2, N'Manager', N'Limited access to settings and data management.')
INSERT [dbo].[tbl_Roles] ([ID], [Role_Name], [Description]) VALUES (3, N'User', N'Basic access to the system with limited permissions.')
SET IDENTITY_INSERT [dbo].[tbl_Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_System] ON 

INSERT [dbo].[tbl_System] ([ID], [System_Name], [Description], [Is_Active]) VALUES (1, N'POS System', N'Point of Sale system for retail businesses.', 1)
INSERT [dbo].[tbl_System] ([ID], [System_Name], [Description], [Is_Active]) VALUES (2, N'Inventory Management', N'System for managing inventory and stock levels.', 1)
INSERT [dbo].[tbl_System] ([ID], [System_Name], [Description], [Is_Active]) VALUES (3, N'CRM System', N'Customer Relationship Management system.', 1)
SET IDENTITY_INSERT [dbo].[tbl_System] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_UserRoles] ON 

INSERT [dbo].[tbl_UserRoles] ([ID], [User_Id], [Role_Id], [Assigned_Date]) VALUES (1, 1, 1, CAST(N'2025-01-16T00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_UserRoles] ([ID], [User_Id], [Role_Id], [Assigned_Date]) VALUES (2, 2, 2, CAST(N'2025-01-16T00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_UserRoles] ([ID], [User_Id], [Role_Id], [Assigned_Date]) VALUES (3, 3, 3, CAST(N'2025-01-16T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([ID], [username], [firstname], [lastname], [email], [password], [is_active], [sex], [address], [phone], [image], [image_path], [company_id], [project_id], [department_id]) VALUES (1, N'Savin.Em', N'Savin', N'Em', N'john.doe@email.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Users] ([ID], [username], [firstname], [lastname], [email], [password], [is_active], [sex], [address], [phone], [image], [image_path], [company_id], [project_id], [department_id]) VALUES (2, N'Manager', N'Vannak', N'Chhoeng', N'jane.smith@email.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Users] ([ID], [username], [firstname], [lastname], [email], [password], [is_active], [sex], [address], [phone], [image], [image_path], [company_id], [project_id], [department_id]) VALUES (3, N'User', N'Sommang', N'Soum', N'michael.brown@email.com', N'123', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
GO
ALTER TABLE [dbo].[tbl_Menus] ADD  CONSTRAINT [DF_tbl_Menus_Is_Active]  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePerm__Full__1BC821DD]  DEFAULT ((0)) FOR [full]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePerm__List__1CBC4616]  DEFAULT ((0)) FOR [list]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePermi__Add__1DB06A4F]  DEFAULT ((0)) FOR [add]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePerm__Edit__1EA48E88]  DEFAULT ((0)) FOR [edit]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePer__Print__1F98B2C1]  DEFAULT ((0)) FOR [print]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePer__Is_Ac__208CD6FA]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[tbl_Module_Permission_Detail] ADD  CONSTRAINT [DF__ModulePer__Assig__2180FB33]  DEFAULT (getdate()) FOR [assign_date]
GO
ALTER TABLE [dbo].[tbl_Modules] ADD  CONSTRAINT [DF_tbl_Modules_Is_Active]  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Role_Menu_Permissions] ADD  CONSTRAINT [DF_tbl_Role_Menu_Permissions_Is_Active]  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_Role_Module_Permissions] ADD  CONSTRAINT [DF_tbl_Role_Module_Permissions_Is_Active]  DEFAULT ((0)) FOR [Is_Active]
GO
