
@{
    ViewData["Title"] = "ErrorStatus401UnAuthorize";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="container-fluid"> 
    <img src="~/lib/assets/img/unauthorize401.png" class="img-fluid m-auto" style="width:80%;height:800px" />
</div>

