
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Iframe.cshtml";
} 
    <div class="container-fluid">
        <ul class="nav nav-tabs gap-1 mt-1" role="tablist">
        <li class="nav-item " role="presentation">
            <a class="p-2 nav-link  text-muted badge " id="icon-tab-2" data-bs-toggle="tab" href="#icon-tabpanel-4" role="tab" aria-controls="icon-tabpanel-4" aria-selected="false"><i class="rounded-pill bi-collection-play-fill"></i> System Role  </a>
        </li>
            <li class="nav-item " role="presentation">
                <a class="p-2 nav-link text-muted active  badge  " id="icon-tab-0" data-bs-toggle="tab" href="#icon-tabpanel-0" role="tab" aria-controls="icon-tabpanel-0" aria-selected="true">  <i class="bi-aspect-ratio-fill"></i> Permission on Role </a> 

            <li class="nav-item " role="presentation">
            <a class="p-2 nav-link  text-muted badge " id="icon-tab-1" data-bs-toggle="tab" href="#icon-tabpanel-1" role="tab" aria-controls="icon-tabpanel-1" aria-selected="false"><i class="bi-person-vcard-fill"></i> Permission on User </a>
            </li>

            <li class="nav-item " role="presentation">
            <a class=" p-2 nav-link text-muted  badge  " id="icon-tab-2" data-bs-toggle="tab" href="#icon-tabpanel-2" role="tab" aria-controls="icon-tabpanel-2" aria-selected="false"><i class="bi-collection-play-fill"></i> ... </a>
            </li>
        </ul>

        <div class="tab-content pt-1" id="tab-content">
        <!--Block Permission On Role-->
            <div class="tab-pane active" id="icon-tabpanel-0" role="tabpanel" aria-labelledby="icon-tab-0">
                <div class="row"> 
               <h4 style="font-weight:bolder; font-size:20px" class=" text-success text-start p-3 m-0">Permission On Role</h4>
                <div class="card m-0 p-0">
                    <div class="card-header">
                       <div class="row d-flex justify-content-start">
                            <div class="form-group d-grid  col-2  ">
                                <label class="label">Menu </label>
                                <select class="form-select select2" id="slsRoleMenus" onchange="InitializeTablePermissionRole()" style="width:100%">
                                    <option value="0">--- Select Menu ---</option>
                                </select>
                             </div>

                                <div class="form-group d-grid col-2 ">
                                    <label class="label">Role </label>
                                    <select class="form-select select2" id="slsRoles" style="width:100%" onchange="InitializeTablePermissionRole()">
                                                <option value="0">---Select Role---</option>
                                     </select>
                                </div>
                                  
                                  <div class="col-8 float-end d-flex justify-content-end align-items-center">
                                       <button class="btn-sm btn-outline-success" onclick="OnSavePermissionOnRole()"> <i class="bi-bookmark-check-fill"> </i>  Save </button>
                                  </div> 
                       </div>
                    </div>
                    <div class="card-body p-0">
                    <table id="tblPermissionRoleOnModule" class="table table-sm" style="width:100%">
                              <thead >
                                  <tr>
                                        <th colspan="3">Module Info</th>
                                        <th colspan="6">Permission</th>
                                  </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>Menu Name</th>
                                        <th>Remark</th>
                                        <th>Full</th>
                                        <th>List</th>
                                        <th>Add</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Print</th>
                                    </tr>
                               
                              </thead>
                              <tbody>
                                        <!--Dynamic-->    
                            </tbody>
                         </table>                   
                   </div> 
                </div> 
            </div>
            </div>

              <!--Permission On User-->
            <div class="tab-pane" id="icon-tabpanel-1" role="tabpanel" aria-labelledby="icon-tab-1"> 
                <div class="card-body px-0 py-0">
                    <div class="row">
                        <h4 style="font-weight:bolder; font-size:20px" class="text-start text-danger p-3 m-0">Permission On user</h4> 
                    <div class="card m-0 p-0">
                        <div class="card-header">
                            <div class="row d-flex justify-content-between "> 
                              <div class="col-7">
                                  <div class="row">
                                        <div class="form-group d-grid  col-3  ">
                                            <label class="label">Menu ​ </label>
                                            <select class="form-select select2" id="slsRoleMenusOnUser" style="width:100%" onchange="OnChangeMenuSelectRoleUser();">
                                                <option value="0">--- Select Menu ---</option>
                                            </select>
                                        </div>

                                        <div class="form-group d-grid col-3 ">
                                            <label class="label">Role <span class="text-danger fw-bolder">*</span> </label>
                                            <select class="form-select select2" id="slsRolesOnUser" style="width:100%" onchange="OnSelectMenuUserRole();">
                                                <option value="0">---Select Role---</option>
                                            </select>
                                        </div>


                                        <div class="form-group d-grid  col-3 d-none " id="eleUserSelect">
                                            <label class="label">User <span class="text-danger fw-bolder">*</span> </label>
                                            <select class="form-select select2" id="slsUsers" style="width:100%">
                                                <option value="0">--- Select User ---</option>
                                            </select>
                                        </div>
                                        <div class="form-group d-grid  col-3 ">
                                            <label class="label text-secondary "> Find</label>
                                            <button class="btn-sm btn-outline-dark " id="btnSearchUserRole" onclick="InitializeTablePermissionUserRole();" style="width:40px"> <i class="bi bi-search"></i> </button>
                                        </div>
                                  </div> 
                              </div>
                                <div class="col-5 d-flex justify-content-end align-items-center">
                                    <button class="btn-sm btn-outline-success float-end" onclick="OnSavePermissionOnRole()"> <i class="bi-bookmark-check-fill"> </i>  Save </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table id="tblPermissionUserRoleOnModule" class="table table-sm" style="width:100%">
                                <thead>
                                    <tr>
                                        <th colspan="3">Module Info</th>
                                        <th colspan="6">Permission</th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>Menu Name</th>
                                        <th>Remark</th>
                                        <th>Full</th>
                                        <th>List</th>
                                        <th>Add</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Print</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <!--Dynamic-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
        </div>
            <div class="tab-pane" id="icon-tabpanel-2" role="tabpanel" aria-labelledby="icon-tab-2">  Content of ,,</div>
             <!--Block System Role-->
            <div class="tab-pane" id="icon-tabpanel-4" role="tabpanel" aria-labelledby="icon-tab-4">    
                 <div class="card-body m-0 px-0 py-0">
                            <div class="row">
                            <h4 style="font-weight:bolder; font-size:20px" class="text-start text-primary p-3 m-0">System Role</h4>
                                <!--Role Table-->
                            <div class="col-xl-5 col-sm-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                                <div class="row d-flex justify-content-start"> 
                                                    <div class="form-group d-grid col-5 ">
                                                            <h4> <i class="bi-rocket-takeoff"></i> Role List</h4>
                                                    </div> 
                                                    <div class="col-7 float-end d-flex justify-content-end align-items-center">
                                                           <button class="btn-sm btn-outline-primary" onclick="onOpenModalNewRole()">   New Role </button>
                                                    </div>
                                                </div> 
                                        </div>
                                        <div class="card-body">
                                                <table style="width:100%" class="display" id="tblRole">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th style="width:auto">Role Name</th>
                                                        <th>Remark</th> 
                                                        <th style="width:20px" >A/C</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--Dynamic-->
                                                </tbody>
                                            </table> 
                                        </div>
                                    </div>
                                </div>

                    <div class="col-xl-7 col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row d-flex justify-content-start">
                                    <div class="form-group d-grid col-2 ">
                                        <h4> <i class="bi-rocket-takeoff"></i> Role Information</h4>
                                    </div> 
                                    <div class="col-10 float-end d-flex justify-content-end align-items-center">
                                        <button class="btn-sm btn-outline-success" onclick="onOpenModalAssignRole()"> <i class="bi-bookmark-plus-fill"> </i> Assign New User </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                               <div class="row">
                                    <div class="row d-flex justify-content-start"> 
                                        <div class="form-group d-grid col-3">
                                            <label class="label">Role Name: </label>
                                            <input  type="text" class="form-control-sm" id="txtRoleName" disabled />
                                        </div>
                                        <div class="form-group d-grid  col-5">
                                            <label class="label">Remark: </label>
                                            <input type="text" class="form-control-sm" id="txtRoleDescription" disabled />
                                        </div> 
                                        <div class="col-4 d-none float-end d-flex justify-content-end align-items-center"> 
                                          
                                        </div>
                                    </div>
                               </div>
                               <div class="row mt-1">
                                    <table class="display " style="width:100%" id="tblAssignRoleUser">
                                         <thead>
                                             <tr>
                                                 <th>#</th>
                                                 <th>Name</th>
                                                 <th>Username</th>
                                                 <th>Sex</th>
                                                 <th>Role</th>
                                                 <th>Action</th>
                                             </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                               </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
         
    </div>

<!--Modall newRole-->
<div class="modal fade" id="modalNewRole" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="roleModalLabel">Add New Role</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="frmAddnewRole">
            <!-- Role Name Input -->
            <div class="mb-3">
              <label for="roleName" class="form-label">Role Name <span class="text-danger">*</span> </label>
              <input type="text" class="form-control" id="newRoleName" placeholder="Enter Role Name" required>
            </div>
            <!-- Description Input -->
            <div class="mb-3">
              <label for="description" class="form-label">Description <span class="text-danger">*</span> </label>
              <textarea class="form-control" id="newRoleDescription" rows="3" placeholder="Enter Role Description" required></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn-sm btn-outline-primary" onclick="OnSaveNewRole()">Save Role</button>
          </div>
      </div>
    </div>
  </div>
   
<!--Modal AssignRole to User-->
<div class="modal fade" id="modalAssignRoleToUser" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleModalLabel">Assign Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmAssignRoleToUser">
                    <div class="mb-3 d-grid">
                        <label class="form-label">Role Name: </label>
                        <input type="text" class="form-control-sm" id="txtRoleName2" disabled />
                    </div>
                    <!-- Role Name Input -->
                    <div class="mb-3">
                        <label for="roleName" class="form-label">Select User: <span class="text-danger">*</span> </label>
                        <select class="select2" id="slsRoleUser" >
                             <option value="0" disabled>---Select User---</option> 
                          </select>
                    </div>
                    <!-- Description Input -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description <span class="text-danger">*</span> </label>
                        <textarea class="form-control" id="newRoleDescription" rows="3" placeholder="Enter Role Description" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn-sm btn-outline-primary" onclick="OnSaveAssignRole()">Save Role</button>
            </div>
        </div>
    </div>
</div>

 

<script src="~/js/Permission.js"></script>
<script>
    $('.select2').select2();
    $('.select2').select2({
        placeholder: "--Select Option--",
        width: '100%'
    });

    LoadDataRoleSelect2(); 
    InitializeTableRole(); 
    InitializeTablePermissionUserRole();
    $("#tblAssignRoleUser").dataTable();  
</script>

<style>
    #tblPermissionRoleOnModule th, #tblPermissionUserRoleOnModule th {
        background-color: #323c50;
         align-items : center;
        text-align: center;
        border: 1px double;
        border-color: white;
        font-weight: bolder;
        color: white;
    }

    

    #tblPermissionRoleOnModule td ,   #tblPermissionUserRoleOnModule td{
        align-items: center;
        text-align: center;
        border: 1px double;
        border-color: darkgray; 
        color: black;
    }



    #tblRole  th {
        background-color: #323c50;
        text-align: center;
        color: white;
        font-weight: bolder;
    }
 
    #tblAssignRoleUser th {
        background-color: #317a81;
        text-align: center;
        color: white;
        font-weight: bolder;
    } 
      
</style>