﻿ /* Base page layout */
#content {
    margin: 20px;
    font-family: Arial, sans-serif;
} 

@media print {
    body {
        padding: 5px;
        margin: 0;
    }

    #btnPrint {
        display: none;
        margin: 0;
        padding: 10px;
    }

    .card {
        border: none;
    }
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate {
        display: none !important;
    }
    #tblIcon th{
        text-align:center !important;
    }
    #content {
        page-break-after: always;
    }

    #pageFooter {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin-top: 20px;
        page-break-before: always;
    }

    #pageFooter {
        margin-top: 15px;
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: end;
        font-size: 12px; 
        padding: 10px  ; 
    }

        #pageFooter:after {
            font-size: 14px;
        }
}
