﻿﻿ /* Base page layout */
#content {
    padding: 20px; 
}

@media print {
    @page {
        font-family: 'Peng Huoth';
        size: A4;
        margin: 5px 5px 100px 5px;
        /* Left side (multi-line text) */
        @bottom-left {
            content: "ធ្វើដោយ: អែម សាវីន\A" "Report Date: 2025-02-20\A" "ឈ្មោះក្រុមហ៊ុន ​: ប៉េង ហួត គ្រុប";
            white-space: pre-wrap;
            font-size: 12px;
            font-style: italic;
            text-align: left;
              margin-left: 20px;
        }
        /* Right side (Page X of Y) */
        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            font-size: 12px;
            font-style: italic;
            text-align: right;
            margin-right: 20px;
        }
    }
    #btnPrint {
        display: none;
        margin: 0; 
    }
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_paginate {
        display: none !important;
    }
    .card {
        border: none;
    }
}
 